/bin/
# Forge
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/CREDITS-fml.txt
/forge-1.7.2*
/logs/*
/config/*
/configs/*
/asm/*
/saves/*
/usernamecache.json
/options.txt
/minetweaker.log
/BotaniaVars.dat
/.analytics/*
/crash-reports/
/scripts/*

/bin/*

# Modproject
/src/api/resources/*
/mods/*

# Gradle
/.gradle
/build
/classes/
# Eclipse
/.classpath
/.project
/.settings
/bin
/eclipse/*
/.metadata

# IntelliJ IDEA
/*.iml
/*.ipr
/*.iws
/.idea
/out

# Debugging
/run

# OS X
.DS_Store

# other
/.nb-gradle/private/
/common

*.launch
