/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/CREDITS-fml.txt
/forge-1.7.2*
/build
/common
/out/
/eclipse/*
/.gradle
/bin/*
.classpath
.project
.settings/*
src/api/resources/*
run/
.metadata/
/.nb-gradle/private/
/mods/*